caption{
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--main-color);
    margin: 20px 0;
}

img{
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}