header {
    padding-top: 20px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo1{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: .5s ease;
}

.logo1:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: .3s ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

nav a:hover,
nav a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

@media(max-width: 995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        background-color: var(--bg-color-3);
        border-top: .1rem solid rgba(0, 0, 0, .1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        text-decoration: none;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: .5rem;
        border-bottom: .5rem solid var(--main-color);
    }
}
