.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 35px calc(10% - 30px) 35px 10%;
}

main.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.col .title{
    color: #fff;
    font-size: 2.3rem;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 1px;
    background-color: rgb(4, 52, 83);
    background: linear-gradient(144deg, rgb(82, 4, 118)0%, rgba(0, 230, 173, 1) 61%, rgba(82, 4, 118, .78)100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 0 0 20px 30px;
}

.col .contents{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
    position: relative;
}

.contents::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + -9px);
    top: 17px;
    background-color: #11a372;
    border: 2px solid white;
}


.card{
    display: inline-block;
    height: 420px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    transition: .3s ease;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}



.card:hover{
    transform: scale3d(1.03);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);

}


.card::after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    height: 18px;
    transform: rotate(50deg);
    background-color: #fff;
    filter: blur(30px);
    opacity: .5;
    transition: 1s;
} 

 .card:hover::after{
    width: 225%;
    top: -100%;
}

.card h4{
    position: relative;
    color: #11a372;
}

.card h3{
    font-size: 19px;
    padding: 10px 0 6px;
    color: #444;
}

.card p{
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}

pre{
    font-size: 1.4rem;
    color: var(--text-color)
}
@media screen and (max-width: 767px) {
    main.row{
        grid-template-columns: 1fr;

    }

    .row .col:nth-child(2){
        margin-top: 30px;
    }
}