<div class="container">
    <main class="row">
        <section class="col">
            <div class="title">
                <h2>Education</h2>
            </div>
            <div class="contents">
                <div class="card">
                    <h4>2022 - Precent</h4>
                    <h3>Bachelor's Degree in Computer Science from Menoufia University</h3>
                    
                    <pre style="text-wrap: wrap;">Focusing on high-performance software systems and low-level architecture.

- <b>Academic Excellence:</b> 
• Honored as the <b>Ideal Student</b> for leadership and academic performance.

- <b>Core Subjects:</b> 
• Mastered OOP, Data Structures, Software Engineering, and Operating Systems.

- <b>Programming Languages:</b> 
• Proficient in C++, C#, and Java for building robust applications.

- <b>Soft Skills:</b> 
• Advanced presentation, communication, and decision-making abilities developed through lead academic roles.
</pre>
                </div>
            </div>
            
        </section>

        <section class="col">
            <div class="title">
                <h2>Experience & Projects</h2>
            </div>
            <div class="contents">
                <div class="box card">
                    <h4>2025 - Present</h4>
                    <h3>Freelance Web Developer</h3>
                    <pre style="text-wrap: wrap;">
- <b>E-commerce platform for a Dates & Palms business</b>
• Developed and designed responsive web interfaces for local businesses.

- <b>School Management System</b>
• Currently building a School Management System using Angular & .NET Core to provide a complete digital solution for educational institutions.
</pre>
                </div>
            </div>
        </section>
    </main>
</div>
