*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
#section-wrapper{
    width: 100%;
    padding: 80px 9%;
}
.box-wrapper{
    position: relative;
    display: flex; 
    flex-wrap: wrap;
    width: 1100px;
    margin: auto;
    margin-top: 35px;
    border-radius: 30px;
    overflow: hidden;
}

.info-wrap{
    width: 35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0 0 30px;
    background: linear-gradient(144deg, rgb(82, 4, 118)0%, rgba(82, 4, 118, .78)100%);
    color: white;
}

.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}

.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: .5px;
    line-height: 22px;
}

.info-details{
    list-style: none;
    margin: 60px 0px;
}

.info-details li{
    margin-top: 25px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.single{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
    color: white;
    width: 40px;
    font-size: 18px;
    transition: .25s ease;

}

.single:hover{
    color: var(--main-color);
    transform: scale(1.15) translateY(-5px);
    background-color: white;
    box-shadow: 0 0 25px white;
}

.info-details li a{
    color: white;
}

.info-details li a:hover{
    color: var(--main-color);
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--main-color);
    border: none;
    font-size: 18px;
    border-radius: 15px;
    margin: 3rem 1.5rem 3rem;
    transition: .25s ease;
    color: white;
}



.social-icons a:hover{
    color: var(--main-color);
    transform: scale(1.3) translateY(-5px);
    background-color: white;
    box-shadow: 0 0 25px white;
}

.form-wrap{
    width: 65%;
    float: right;
    padding: 40px 25px 35px 25px;
    border-radius: 0 30px 30px 0px;
    background-color: #ecf0f3;
    color: black;
}

.form-title{
    margin-left: 23px;
    text-align: left;
    font-size: 28px;
    letter-spacing: .5px;
}

.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}

.form-fields input,
.form-fields textarea{
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
    width: 100%;
}

.form-fields textarea{
    height: 150px;
    resize: none;
}

.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px var(--third-color), inset -8px -8px 8px white;
}

.form-fields .form-group:last-child{
    width: 96%;
}

.submit-button{
    width: 96%;
    height: 60px;
    margin: 0 12px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    outline: 700;
    cursor: pointer;
    color: white;
    text-align: center;
    background-color: var(--main-color);
    box-shadow: 3px 3px 8px #555, -3px -3px 8px white;
    transition: .35s;
}

.submit-button:hover{
    background: var(--second-color);
}

@media only screen and (max-width: 1200px){
    .box-wrapper{
        width: 100%;
    }

    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;
    }

    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }

    .form-wrap{
        border-radius: 0 0 30px 30px;
    }



    

    .submit-button{
        margin: 10px 0px;
    }
}


@media only screen and (max-width: 750px){
    
    .form-fields .form-group:last-child,
    .submit-button{
        width: 100%;
    }

    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0;
    }
}