
<section id="section-wrapper">
    <div class="box-wrapper">
        <div class="info-wrap">
            <h2 class="info-title">
                Let's Work Together
            </h2>
            <h3 class="info-sub-title">
                I'm currently available for freelance projects or full-time positions. If you have a question or just want to say hi, my inbox is always open!
            </h3>
            <ul class="info-details">
                <li><i class="fas fa-phone-alt single"></i>
                    <span>Phone: </span><a href="tel:+201224694081">+20 122 469 4081</a>
                </li>
                <li>
                    <i class="fa-solid fa-envelope single"></i>
                    <span>Email: </span><a href="mailto:ahmedhegazy1237@gmail.com">ahmedhegazy1237</a>
                </li>
                <li>
                    <i class="fas fa-paper-plane single"></i>
                    <span>Telegram: </span><a href="https://t.me/RIP_2005">RIP_2005</a>
                </li>
            </ul>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/ahmed-hegazy-dev"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.youtube.com/@ahmedhegazy1237"><i class="fa-brands fa-youtube"></i></a>
            </div>   
        </div>
        <div class="form-wrap">
            <form action="https://formspree.io/f/mbdkveqa" method="POST">
                <h2 class = "form-title">
                    Send me a message
                </h2>
                <div class="form-fields">
                    <div class="form-group">
                        <input type="text" name="first-name" class="fname" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="last-name" class="lname" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="email" placeholder="Mail">
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone" class="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <textarea name="message" placeholder="Write your message"></textarea>
                    </div>
                </div>
                <input type="submit" value="Send message" class="submit-button">
            </form>
        </div>                 
    </div>     
</section>
