/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #b74b4b;
    --second-color: rgb(82, 4, 118);
    --third-color: #cbc3d1;
    --bg-color: black;
    --bg-color-2: white;
    --bg-color-3: #161616;
    --text-color: white;
}

.light-mode {
    --bg-color: #f5f5f5; 
    --bg-color-2: #161616;
    --bg-color-3: #e0e0e0;
    --text-color: #161616;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a{
    text-decoration: none;
}

.btn1{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    letter-spacing: .3rem;
    font-weight: 600;
    border: 2px solid var(--main-color);
    transition: .3s ease;
    cursor: pointer;
}

.btn1:hover{
    transform: scale3d(1.03);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);

}

