section{
    min-height: 100vh;
    padding: 9rem 9% ;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: var(--bg-color);
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.jobs{
    color: var(--main-color);
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.5rem;
}

.home-img{
    border-radius: 50%;
}


.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: .2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: .25s ease;
    color: var(--main-color);
}



.social-icons a:hover{
    color: var(--bg-color);
    transform: scale(1.3) translateY(-5px);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}



.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    text-wrap: no-wrap;
    content: "Software Developer";
    color: var(--main-color);
    animation: words 15s infinite;
}

.typing-text span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8;
    animation: cursor .6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid var(--main-color);
    }

    25% {
        border-left-color: transparent;
    }
}

@keyframes words {
    0%, 20% { content: "Web Developer"; }
    25%, 45% { content: "Software Developer"; }
    50%, 70% { content: "Problem Solver"; }
    75%, 90% { content: "Software Engineer"; }
    95%, 100% { content: "Instructor"; }
}


@media (max-width:1000px){
    .home{
        gap: 4rem;
    }
}
@media (max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}


