<section class="home">
    <div class="home-img">
        <img src="./assets/images/formal image.jpg" alt="" >
    </div>
    <div class="home-content">
        <h1>Hi, it's <span id="jobs">Ahmed Hegazy</span></h1>
        <h3 class="typing-text">I'm a <span class="jobs"></span></h3>
        <p>a passionate Fullstack Developer focused on building efficient and scalable web applications using Angular for the frontend and .NET for the backend. My experience includes developing task management systems, designing RESTful APIs, and collaborating within teams to deliver high-quality, maintainable software solutions.</p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/ahmed-hegazy-dev" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/RIP0072005" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.youtube.com/@ahmedhegazy1237" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <a href="https://drive.google.com/file/d/1NaKYcswsNDDJSpV8fCj9boixHjROZTtv/view?usp=sharing" target="_blank" class="btn1">Dowload CV</a>
    </div>
</section>